<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.orbyt.argent-audit</string>

    <key>ProgramArguments</key>
    <array>
      <string>/bin/zsh</string>
      <string>-lc</string>
      <string>/Users/jack/orbyt-master/orbyt/scripts/run-argent-audit.sh</string>
    </array>

    <key>WorkingDirectory</key>
    <string>/Users/jack/orbyt-master/orbyt</string>

    <key>StartCalendarInterval</key>
    <dict>
      <key>Hour</key>
      <integer>2</integer>
      <key>Minute</key>
      <integer>0</integer>
    </dict>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/Users/jack/orbyt-master/orbyt/reports/argent/launchd.out.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/jack/orbyt-master/orbyt/reports/argent/launchd.err.log</string>
  </dict>
</plist>
