/*--- Responsive styles ---*/
@media screen and (max-width: 700px) {
  #desktop {
    display: none;
  }
}

@media screen and (min-width: 700px) {
  .mobile-overlay {
    display: none;
  }
  #post {
    padding: 30px;
    display: flex;
    justify-content: center;
  }
  #desktop {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 60px;
    justify-content: flex-end;
  }
  .horizontal-rule {
    height: 10px;
    width: 100%;
    background-repeat: repeat-x;
    background-position: center;
    margin: 20px 0 30px;
  }
  .desktop-title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    margin-left: -10px;
    margin-top: 0;
    line-height: 0;
  }
  .logo a img {
    width: 159px;
    position: relative;
  }
  .post-author {
    flex-wrap: wrap;
    margin-bottom: 0;
    max-width: 374px;
  }
  #post-caption-desktop {
    max-width: 374px;
  }
  .install-button {
    margin-right: 0;
    margin-top: 0;
    font-size: 12px;
  }
  video {
    border-radius: 10px;
  }
}
@media screen and (min-width: 800px) {
  .install-button {
    font-size: 16px;
  }
}
