body {
  background: #000;
  color: #B1BACF;
  font-family: 'Figtree', sans-serif;
  line-height: 28px;
}

.install-button {
  align-items: center;
  background: #F4F7FF;
  border-radius: 31px;
  box-shadow: 0px 6px 10px rgba(7, 25, 72, 0.13);
  color: black;
  display: flex;
  font-size: 16px;
  font-weight: normal;
  height: 40px;
  letter-spacing: 0.6px;
  margin-right: 20px;
  margin-top: 20px;
  padding: 0 14px;
  text-decoration: none;
}
.install-button img {
  margin-left: 8px;
  width: 18px;
  height: 18px;
}
.install-button:hover,
.install-button:active {
  color: black;
}

.horizontal-rule {
  height: 10px;
  width: 100%;
  background-repeat: repeat-x;
  background-position: center;
  margin: 20px 0 30px;
}
